config.log
config.mak
src/**/*/.deps
src/**/*.so
src/**/*.dylib
src/**/*.dll
src/**/*.o
src/**/*.obj
src/**/*.tlog
out
out.pgo
out.pgen
stella
stella-pgo
stella-pgo-generate
*.diff
project.xcworkspace/
xcuserdata/
build/
src/macosx/M6502.ins
*.dSYM
.vscode/c_cpp_properties.json
src/windows/sdl/*
src/windows/x64/*
src/windows/debug/*
src/windows/release/*
src/windows/Stella.vcxproj.user
.vs/*
.tgitconfig

                                     
