[Desktop Entry]
Name=Stella
Comment=A multi-platform Atari 2600 emulator
Exec=stella %f
Icon=stella.png
Terminal=false
Type=Application
Categories=Application;Emulator;Game;
