body      { color: black; font-size: 12pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif; background: white url(background.gif) repeat-y 0px 0px; margin: 20px }
p {}
td { font-size: 12pt; }
img { border: none }
a:link { color: blue }
a:active { color: blue }
a:visited { color: blue }
a:hover  { color: red }
.rightcolumn   { float: right; padding-right: 20px; padding-bottom: 20px; position: absolute; top: 20px; left: 200px }
.header { }
.content { margin-top: 20px }
.footer { font-size: 10pt; margin-top: 40px }
.footer img { float: left; padding-right: 20px }
.leftcolumn     { font-size: 10pt; float: left; padding-bottom: 20px; position: absolute; top: 20px; left: 20px; width: 140px; overflow: hidden }
.leftcolumn img { }
.menuheader     { font-weight: bold; font-size: 11pt; margin-top: 20px; margin-bottom: 5px }
.leftcolumn ul  { list-style-type: none; margin: 0px; padding: 0px }
.leftcolumn ul li       { }
.leftcolumn ul li a      { text-decoration: none; margin-bottom: 3px; padding: 3px; width: 130px; display: block }
.leftcolumn ul li a:link    { color: black; background-color: #ffd766 }
.leftcolumn ul li a:active   { color: white; background-color: red }
.leftcolumn ul li a:visited   { color: black; background-color: #ffd766 }
.leftcolumn ul li a:hover  { color: red; background-color: white }
body#about a#about  { color: black; background: white url(menucurrent.gif) no-repeat right top }
body#screenshots a#screenshots  { color: black; background: white url(menucurrent.gif) no-repeat right top }
body#news a#news  { color: black; background: white url(menucurrent.gif) no-repeat right top }
body#team a#team  { color: black; background: white url(menucurrent.gif) no-repeat right top }
body#mailing a#mailing  { color: black; background: white url(menucurrent.gif) no-repeat right top }
body#guide a#guide  { color: black; background: white url(menucurrent.gif) no-repeat right top }
body#stable a#stable  { color: black; background: white url(menucurrent.gif) no-repeat right top }
body#development a#development  { color: black; background: white url(menucurrent.gif) no-repeat right top }
body#atarilinks a#atarilinks  { color: black; background: white url(menucurrent.gif) no-repeat right top }
body#homebrew a#homebrew  { color: black; background: white url(menucurrent.gif) no-repeat right top }
